body {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  background-color: palegoldenrod;
  display: flex;
  flex-direction: column;
}

.row {
  background-color: paleturquoise;
  display: flex;
  flex-direction: row;
}

.cell {
  background-color: rgb(241, 176, 198);
  margin: 4px;
  width: 12px;
  height: 12px;
}
