body {
  background-color: palegoldenrod;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: fit-content;
  height: 20px;
  margin: 4px;
  line-height: 100%;
  border: 0;
  background-color: palegreen;
}

button:hover {
  background-color: rgb(71, 202, 71);
  border: 2px solid white;
}

.grid {
  background-color: paleturquoise;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 95vw;
  max-width: 95vh;
  height: 95vw;
  max-height: 95vh;
}

.row {
  background-color: paleturquoise;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.cell {
  background-color: white;
  /* margin: 4px; */
  /* width: 4vw;
  height: 4vw; */
  flex-grow: 1;
}

.howered {
  background-color: black;
}
