body {
  background-color: grey;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 12px; */
}

.grid {
  background-color: palegoldenrod;
  /* margin: 10vh auto;
  padding: 12px; */
  width: min-content;
  height: min-content;
  max-width: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  background-color: paleturquoise;
  display: flex;
  flex-direction: row;
}

.cell {
  background-color: rgb(241, 176, 198);
  margin: 4px;
  width: 3.5vw;
  height: 3.5vw;
}
